/*------------------------------------------------------------
// Button
//
//----------------------------------------------------------*/

.Button {
  appearance: none;
  background-color: #E77587;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.9;
  padding: 10px 20px;
  transtion: opacity 200ms ease-in-out;
}

.Button:hover {
  opacity: 1;
}
