/*------------------------------------------------------------
// Movie
//
//----------------------------------------------------------*/

.Movie {
  display: grid;
  height: 100vh;
  grid-template-columns: 350px 1fr;
}

.Movie__meta {
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.04);
  padding: 40px;
}

.Movie__content {
  padding: 60px;
  position: relative;
  overflow: hidden;
}
