/*------------------------------------------------------------
// Movie
//
//----------------------------------------------------------*/

.Movie {
  background-color: #fff;
  display: grid;
  height: 100vh;
  grid-template-columns: 350px 1fr;
}

.Movie__meta {
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.04);
  padding: 40px;
}

.Movie__content {
  padding: 60px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 768px) {
  .Movie {
    grid-template-columns: 250px 1fr;
  }

  .Movie__meta {
    padding: 20px;
  }

  .Movie__content {
    padding: 40px;
  }  
}


@media (max-width: 576px) {
  .Movie {
    height: auto;
    grid-template-columns: 1fr;
  }

  .Movie__meta,
  .Movie__content {
    box-shadow: none;
    padding: 20px;
  }  
}
