/*------------------------------------------------------------
// FormError
//
//----------------------------------------------------------*/

.FormError {
  background: var(--color-amour);
  border: 1px solid var(--color-monza);
  border-radius: 5px;
  color: var(--color-mine-shaft);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: var(--spacing-third);
  margin-top: var(--spacing-third);
  padding: var(--spacing-third) var(--spacing-half);
  position: relative;
}

.FormError:before,
.FormError:after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: 100%;
  content: "";
  height: 0; 
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0; 
}

.FormError:before {
  border-bottom: 7px solid var(--color-amour);
  z-index: 1;
}

.FormError:after {
  border-bottom: 7px solid var(--color-monza);
  bottom: calc(100% + 1px);
}
