/*------------------------------------------------------------
// FormInput
//
//----------------------------------------------------------*/

.FormInput {
  background: none;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 15px;
  transition: border ease-in-out 150ms, box-shadow ease-in-out 150ms;
  width: 100%;
}

.FormInput:focus {
  border: 1px solid rgb(6, 118, 159);
  box-shadow: 0px 0px 5px #e77587;
  outline: none;
}

.FormInput:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
  border: 0;
}
