/*------------------------------------------------------------
// Navigation
//
//----------------------------------------------------------*/

.Navigation {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04);
  display: flex;
}

.Navigation__logo {
  align-items: center;
  background-color: #E77587;
  color: #fff;
  display: flex;
  font-weight: 700;
  margin-right: 40px;
  padding: 20px;
  text-transform: uppercase;
}

.Navigation__list {
  align-items: center;
  display: flex;
}

.Navigation__link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.Navigation__item:not(:last-child) {
  margin-right: 40px;
}

.Navigation__link--active {
   color: #E77587;
}
