/*------------------------------------------------------------
// Register
//
//----------------------------------------------------------*/

.Register {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.Register__form {
  width: 100%;
}
