/*------------------------------------------------------------
// LoggedIn
//
//----------------------------------------------------------*/

.Home {
  background-color: #fff;
  border-radius: 6px; 
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100vh;
  position: relative;
  z-index: 1;  
}
