/*------------------------------------------------------------
// Login
//
//----------------------------------------------------------*/

.Login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.Login__form-wrapper {
  width: 100%;
}

.Login__register {
  background: #6DDB98;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
